// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

//
// Color system
//
$yellow: #ffe600;
$black: #333333;
$gray: #666;
$dark-gray: #999999;
$light-gray: #eeeeee;
$blue: #3483fa;
